<div class="card sidebar-card">
  <div class="card-body">
    <h6 class="card-title mb-3"><%= t('storefront.products.index.categories') %></h6>
    <div class="category-sidebar" data-controller="storefront-category-tree">
      <ul class="list-unstyled mb-0">
        <li>
          <%= link_to products_path(org_slug: params[:org_slug], queries: params[:queries]),
              class: "category-link d-block py-1 #{'active fw-bold' if Array(params[:categories]).empty?}" do %>
            <i class="fa-solid fa-grid-2 me-2"></i>
            <%= t('storefront.products.index.all_products') %>
          <% end %>
        </li>
        <% categories.each do |category| %>
          <%= render 'storefront/shared/category_tree_item', category: category, current_categories: local_assigns[:current_categories] %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
