<h6 class="mb-3"><%= t('storefront.products.index.categories') %></h6>
<div class="category-sidebar" data-controller="storefront-category-tree">
  <ul class="category-list">
    <li class="category-list-item">
      <% all_products_params = { org_slug: params[:org_slug], queries: params[:queries] } %>
      <% all_products_params[:sort] = params[:sort] if params[:sort].present? %>
      <%= link_to products_path(**all_products_params),
          class: "category-link #{'active' if params[:category].blank?}" do %>
        <%= t('storefront.products.index.all_products') %>
      <% end %>
    </li>
    <% categories.each do |category| %>
      <%= render 'storefront/shared/category_tree_item', category: category, current_categories: local_assigns[:current_categories] %>
    <% end %>
  </ul>
</div>
