<footer class="powered-by-nodal">
  <a href="https://www.nodal-seiri.dev" target="_blank" rel="noopener" class="powered-by-content">
    <span class="store-name"><%= current_organisation.name %></span>
    <span class="powered-by-text">powered by</span>
    <span class="nodal-link">
      <span class="logo-icon">N</span><span class="logo-text">odal</span>
    </span>
  </a>
</footer>
